body {
  background-color: aquamarine;
  margin: auto;
  font-family: fantasy;
}

h1 {
  text-align: center;
}

/* it took much time.. but i figured the grid layout out */

.gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1px;
      grid-auto-rows: minmax(100px, auto);
      margin-left: 1vw;
      margin-right: 1vw;
      margin-bottom: 2vw;
}

.card {
  margin: 1rem;
}

/* got all the image things figured out */

img {
 width: 45vw;
 height: auto;
}
